main section{
    display: flex;
    width: 55rem;
    height: 20rem;
    margin: 5rem auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s;
}
main div.left{
    width: 40%;
    overflow: hidden;
}
main section p.zeb{
    background-color: rgb(0, 233, 12);
    position: fixed;
    width: 5rem;
    margin-left: 50rem;
    overflow: hidden;
    opacity: 0;
    transition: .5s;

}
main section:hover{
    transform: scale(1.1);
    transition: .5s;
}
main section:hover p.zeb{
    opacity: 1;
    transition: .5s;
}
main div.left img{
    height: 100%;
    width: 100%;
}
main ul li{
    display: flex;
    align-items: center;
}
main ul.right{
    margin: 2rem 0;
    margin-left: 4rem;

}
main ul li img{
    width: 2.5rem;
    margin-right: 1rem;
}
main ul li p.nom{
    font-weight: bolder;
    font-size: 1.9rem;
}
main ul li p.age{
    margin-left: 1rem;
    color: grey;
}
main ul li p.pays{
    margin: 1rem 0rem;
    color: grey;
}






.btn2 {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn2:hover {
    background-color: #0056b3;
  }
  
  .center2 {
    text-align: center;
    margin-top: 20px;
  }
  